<section data-ng-controller="CarsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{car.title}}</h1>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="img/camry.jpg" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-8">
			<ul>
				<li>Make: {{car.make}}</li>
				<li>Model:{{car.model}}</li>
				<li>Year: {{car.year}}</li>
				<li>Price: ${{car.price}}</li>
			</ul>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<p>{{car.description}}</p>
			<a href="mailto:{{car.contact_email}}" class="btn btn-primary">Contact Owner</a>
		</div>
	</div>
<br><br>
	<div class="pull-right" data-ng-show="authentication.user._id == car.user._id">
		<a class="btn btn-primary" href="/#!/cars/{{car._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="car.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="car.user.displayName"></span>
		</em>
	</small>
</section>